* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.3;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #006173;
  margin: 0;
}

input,
textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 5px 0;
}

.inner-wrap {
  padding: 0 15px;
}

.image-wrap {
  width: 100%;
  position: relative;
}

.video-wrap iframe,
img.bg-image,
picture.bg-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.bg-image,
picture.bg-image img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: none;
  transform: none;
  background-color: #999;
}

.button {
  font-weight: 600;
  width: 100%;
  padding: 15px 20px;
  color: #fff;
  background-color: #F66A04;
  border: 1px solid #F66A04;
  border-radius: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}
.button:hover {
  background-color: #923f02;
}
.button.border {
  border: 1px solid #fff;
  background-color: transparent;
}
.button.border:hover {
  border-color: #F66A04;
  color: #F66A04;
}

@media all and (min-width: 600px) {
  .inner-wrap {
    padding: 0 30px;
  }
}
@media all and (min-width: 1200px) {
  .inner-wrap {
    max-width: 1600px;
    margin: 0 auto;
  }
}
@media all and (min-width: 1600px) {
  .inner-wrap {
    padding: 0;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px 0;
  transition: all 0.2s ease-in;
  z-index: 5;
}
header.sticky {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
header.sticky .logo .black {
  display: inline-block;
}
header.sticky .logo .white {
  display: none;
}
header.sticky .lan-text {
  color: #333333;
}
header.sticky .contact-wrap:before {
  filter: brightness(0);
}
header .inner-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header .logo {
  width: 100%;
  text-align: center;
}
header .logo img {
  max-width: 112px;
  display: inline-block;
}
header .logo .black {
  display: none;
}
header .lan-text {
  display: none;
}
header .mob-button {
  background: #F66A04;
  border-radius: 50%;
  padding: 8px 10px;
}
header .mob-button span {
  width: 18px;
  height: 2px;
  background-color: #fff;
  margin: 4px auto;
  display: block;
}
header .contact-wrap {
  font-size: 0;
}
header .contact-wrap:before {
  content: "";
  background-image: url("../images/telephone-handle-silhouette.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-bottom: -4px;
}
header nav {
  transform: translateX(-110vw);
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  top: 50px;
}
header .flag {
  height: 20px;
  padding-left: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}
header .flag.flag-au {
  background-image: url("../images/au.png");
}

@media all and (min-width: 900px) {
  header.sticky nav ul a {
    color: #333333;
  }
  header.sticky nav ul .button a {
    color: #fff;
  }
  header.sticky nav ul .button.border {
    border-color: #F66A04;
  }
  header.sticky nav ul .button.border a {
    color: #F66A04;
  }
  header.sticky .contact-wrap {
    display: none;
  }
  header .inner-wrap {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  header .mob-button {
    display: none;
  }
  header .logo {
    width: auto;
  }
  header .lan-text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    padding: 0 20px;
  }
  header nav {
    position: initial;
    opacity: 1;
    transform: none;
    margin-left: auto;
  }
  header nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  header nav ul li {
    margin: 0 7px;
  }
  header nav ul li:last-of-type {
    margin-right: 0;
  }
  header nav ul .button {
    font-weight: 200;
    width: auto;
    padding: 8px 15px;
  }
  header nav ul a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-out;
  }
  header nav ul a:hover {
    color: #F66A04;
  }
}
@media all and (min-width: 1200px) {
  header .contact-wrap {
    width: auto;
    height: auto;
    font-size: initial;
  }
  header .contact-wrap:before {
    width: 18px;
    height: 18px;
  }
  header .contact-wrap a {
    color: #fff;
    text-decoration: none;
  }
  header nav ul li {
    margin: 0 12px;
  }
}
.hero {
  background-color: #205FAB;
  background-image: url("../images/mobile-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 20vh;
  color: #fff;
  text-align: center;
}
.hero h1 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 35px;
}
.hero p {
  margin-bottom: 50px;
}
.hero a {
  margin-bottom: 15px;
}
.hero a:last-of-type {
  margin-bottom: 0;
}

@media all and (min-width: 900px) {
  .hero {
    padding-top: 20vh;
    background-image: url("../images/desktop-bg.jpg");
  }
  .hero h1 {
    font-size: 52px;
  }
  .hero p {
    font-size: 22px;
  }
  .hero .actions {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  .hero .actions .button {
    margin-bottom: 0;
    max-width: 200px;
    margin: 0 5px;
  }
}
@media all and (min-width: 900px) {
  .hero h1 {
    font-size: 78px;
  }
  .hero p {
    font-size: 32px;
  }
}
.activities {
  text-align: center;
  transform: translateY(-145px);
  color: #fff;
}
.activities .inner-wrap {
  padding: 0;
}
.activities #episodes .slick-track {
  padding: 20px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.activities #episodes .slide {
  padding: 0 10px;
  transform: translateX(-50px);
  height: inherit;
}
.activities #episodes .content {
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  height: 100%;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.activities #episodes .content:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.activities #episodes .content .image-wrap img {
  width: 100%;
}
.activities #episodes .content h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  padding: 10px 30px;
  color: #333333;
  position: relative;
}
.activities #episodes .content h3:before {
  content: "";
  background-image: url("../images/play-button.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
.activities #episodes .content h3 .more {
  position: absolute;
  right: 4px;
  top: 18px;
  background-image: url("../images/more.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 30px;
}
.activities #episodes .content .popup {
  position: absolute;
  bottom: 0;
  right: 20px;
  background-color: #fff;
  z-index: 2;
  color: #333333;
  max-width: 180px;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  transform: translateY(100px);
  transition: all 0.2s ease;
}
.activities #episodes .content .popup.active {
  transform: translateY(0);
}
.activities #episodes .content .popup a {
  color: #333333;
  text-decoration: none;
  display: block;
  padding: 4px 0;
}

#episode_frame {
  display: none;
}
#episode_frame iframe {
  width: 80vw;
  height: 70vh;
}

@media all and (min-width: 1200px) {
  #episode_frame iframe {
    width: 960px;
    height: 600px;
  }
}

/*# sourceMappingURL=default.css.map */
