.activities {
  text-align: center;
  transform: translateY(-145px);
  color: $white;

  .inner-wrap {
    padding: 0;
  }

  #episodes {
    .slick-track {
      padding: 20px 0;
      @include flexbox;
    }

    .slide {
      padding: 0 10px;
      transform: translateX(-50px);
      height: inherit;
    }

    .content {
      background-color: $white;
      border-radius: 10px;
      text-align: left;
      overflow: hidden;
      box-shadow: 0 0 8px rgb(0 0 0 / 25%);
      height: 100%;
      cursor: pointer;
      transition: all .3s;
      position: relative;

      &:hover {
        box-shadow: 0 0 8px rgb(0 0 0 / 50%);
      }

      .image-wrap {
        img {
          width: 100%;
        }
      }

      h3 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 14px;
        padding: 10px 30px;
        color: $gray;
        position: relative;

        &:before {
          content: '';
          background-image: url("../images/play-button.svg");
          background-size: contain;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);

        }

        .more {
          position: absolute;
          right: 4px;
          top: 18px;
          background-image: url("../images/more.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 18px;
          height: 30px;
        }
      }

      .popup {
        position: absolute;
        bottom: 0;
        right: 20px;
        background-color: $white;
        z-index: 2;
        color: $gray;
        max-width: 180px;
        padding: 10px;
        font-size: 14px;
        box-shadow: 0 0 8px rgb(0 0 0 / 25%);
        transform: translateY(100px);
        transition: all .2s ease;

        &.active {
          transform: translateY(0);
        }


        a {
          color: $gray;
          text-decoration: none;
          display: block;
          padding: 4px 0;
        }
      }
    }
  }
}

#episode_frame {
  display: none;

  iframe {
    width: 80vw;
    height: 70vh;
  }
}

@media all and (min-width: 1200px) {
  #episode_frame {
    iframe {
      width: 960px;
      height: 600px;
    }
  }
}