* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.3;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  font-weight: 700;
  color: $teal;
  margin: 0;
}

input,
textarea {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 5px 0;
}

.inner-wrap {
  padding: 0 15px;
}

.image-wrap {
  width: 100%;
  position: relative;
}

.video-wrap iframe,
img.bg-image,
picture.bg-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.bg-image,
picture.bg-image img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: none;
  transform: none;
  background-color: #999;
}

.button {
  font-weight: 600;
  width: 100%;
  padding: 15px 20px;
  color: $white;
  background-color: $orange;
  border: 1px solid $orange;
  border-radius: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: all .2s;
  cursor: pointer;

  &:hover {
    background-color: darken($orange,20%);
  }

  &.border {
    border: 1px solid $white;
    background-color: transparent;

    &:hover {
      border-color: $orange;
      color: $orange;
    }
  }
}

@media all and (min-width: 600px) {
  .inner-wrap {
    padding: 0 30px;
  }
}

@media all and (min-width: 1200px) {
  .inner-wrap {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1600px) {
  .inner-wrap {
    padding: 0;
  }
}