header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px 0;
  transition: all .2s ease-in;
  z-index: 5;

  &.sticky {
    background-color: $white;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);

    .logo {
      .black {
        display: inline-block;
      }

      .white {
        display: none;
      }
    }

    .lan-text {
      color: $gray;
    }

    .contact-wrap {
      &:before {
        filter: brightness(0);
      }
    }
  }

  .inner-wrap {
    @include flexbox;
    @include align-items(center);
  }

  .logo {
    width: 100%;
    text-align: center;

    img {
      max-width: 112px;
      display: inline-block;
    }

    .black {
      display: none;
    }
  }

  .lan-text {
    display: none;
  }

  .mob-button {
    background: $orange;
    border-radius: 50%;
    padding: 8px 10px;

    span {
      width: 18px;
      height: 2px;
      background-color: $white;
      margin: 4px auto;
      display: block;
    }
  }

  .contact-wrap {
    font-size: 0;

    &:before {
      content: '';
      background-image: url("../images/telephone-handle-silhouette.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 22px;
      height: 22px;
      display: inline-block;
      margin-bottom: -4px;
    }
  }

  nav {
    transform: translateX(-110vw);
    opacity: 0;
    transition: all .3s ease;
    position: absolute;
    left: 0;
    top: 50px;
  }

  .flag {
    height: 20px;
    padding-left: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;


    &.flag-au {
      background-image: url("../images/au.png");
    }
  }
}

@media all and (min-width: 900px) {
  header {
    &.sticky {
      nav {
        ul {
          a {
            color: $gray;
          }

          .button {
            a {
              color: $white;
            }

            &.border {
              border-color: $orange;

              a {
                color: $orange;
              }
            }
          }
        }
      }

      .contact-wrap {
        display: none;
      }
    }

    .inner-wrap {
      @include align-items(center);
    }

    .mob-button {
      display: none;
    }

    .logo {
      width: auto;
    }

    .lan-text {
      @include flexbox;
      @include align-items(center);
      color: $white;
      text-transform: uppercase;
      padding: 0 20px;
    }

    nav {
      position: initial;
      opacity: 1;
      transform: none;
      margin-left: auto;

      ul {
        @include flexbox;
        @include align-items(center);
        list-style: none;
        margin: 0;

        li {
          margin: 0 7px;

          &:last-of-type {
            margin-right: 0;
          }
        }

        .button {
          font-weight: 200;
          width: auto;
          padding: 8px 15px;
        }

        a {
          color: $white;
          text-decoration: none;
          transition: all .2s ease-out;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  header {
    .contact-wrap {
      width: auto;
      height: auto;
      font-size: initial;

      &:before {
        width: 18px;
        height: 18px;
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }

    nav {
      ul {
        li {
          margin: 0 12px;
        }
      }
    }
  }
}