.hero {
  background-color: $primary;
  background-image: url("../images/mobile-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 20vh;
  color: $white;
  text-align: center;

  h1 {
    color: $white;
    font-size: 32px;
    margin-bottom: 35px;
  }

  p {
    margin-bottom: 50px;
  }

  a {
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media all and (min-width: 900px) {
  .hero {
    padding-top: 20vh;
    background-image: url("../images/desktop-bg.jpg");

    h1 {
      font-size: 52px;
    }

    p {
      font-size: 22px;
    }

    .actions {
      @include flexbox;
      @include justify-content(center);

      .button {
        margin-bottom: 0;
        max-width: 200px;
        margin: 0 5px;
      }
    }
  }
}

@media all and (min-width: 900px) {
.hero {
  h1 {
    font-size: 78px;
  }

  p {
    font-size: 32px;
  }
}
}